<header id="top" class="header">
    <div class="container">
      <h1>Iniciar Sesión</h1>
      <form [hidden]= "registrado">
        <div class="form-group">
          <label for="name">Login</label>
          <input type="text" class="form-control" required
          [(ngModel)]="model.name" ngControl="name"  #name="ngForm" >
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Login is required
          </div>
        </div>
        <div class="form-group">
          <label for="alterEgo">Password</label>
          <input type="Number" class="form-control" [(ngModel)]="model.password">
        </div>
        <button type="submit" class="btn btn-default" (click)="iniciar(model)">Submit</button>
      </form>
      <div [hidden]="!registrado" class="col-1-4">
        <div *ngIf="hero">
        <h2>
        {{hero.name}} is my hero
        {{hero.password}} is my edad
        </h2>
        </div>
      </div>
    </div>
</header>
