<div class="home" *ngIf="profesor">
  <div class="col-xs-4 col-lg-4">
    <ul *ngFor="let msg of conversation" style="margin:0">
        <li >
          <div >
              <span  class="userLabel" >{{msg.userName}}:</span>
              <span style="font-weight:bold">{{msg.text}}</span>
          </div>
        </li>
    </ul>
    <div>
      <input  type="text"
        [(ngModel)]="message"
        (keypress)="keypressHandler($event)">
    </div>
    <button (click)="send()"  type="submit"  name="action" >Send</button>
  </div>
  <div class="col-xs-4 col-lg-4">
    <button type="Submit" class="btn rounded-btn" (click)="logout()">Logout</button>
    <img [src]="imgsrc">
  </div>
  <div  class="col-xs-4 col-lg-4">
    <h1 >{{profesor.nombre}} {{profesor.apellidos}}</h1>
    <h3>Email: {{profesor.asignaturas}}</h3>
    <h3>Asignatura: {{profesor.curso}}</h3>
    <h3>Edad: {{profesor.edad}}</h3>
  </div>
</div>
