<div>
  <div class="home jumbotron centered">
    <h1>Welcome to Perfill!</h1>
      <pre *ngIf="jwt" class="jwt"><code>{{decodedJwt.Edad}}</code></pre>
      <h2>{{alumno.loc.lat}} details!</h2>
        <h2>{{address}} details!</h2>
    <p><a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a></p>
    <button type="submit" (click)="getallprof()">Submit</button>
  </div>
  <input [(ngModel)]="address" >
  <button (click)="getcoors(address)" >Submit</button>
  <sebm-google-map *ngIf= "alumno.loc.lat" [latitude]="alumno.loc.lat" [longitude]="alumno.loc.lng"  [zoom] = "12">
    <sebm-google-map-marker
            [latitude]="alumno.loc.lat"
            [longitude]="alumno.loc.lng">
    </sebm-google-map-marker>
    <sebm-google-map-marker *ngFor="let m of profesores"
            [latitude]="m.data.loc.lat"
            [longitude]="m.data.loc.lng">
    </sebm-google-map-marker>
  </sebm-google-map>


</div>
