<div>
  <div class="home jumbotron centered">
    <h1>Welcome to Perfill!</h1>
      <pre *ngIf="jwt" class="jwt"><code>{{decodedJwt.Edad}}</code></pre>

    <p><a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a></p>
    <button type="submit" (click)="getallprof()">Submit</button>
  </div>
  <sebm-google-map [latitude]="0" [longitude]="0"  [zoom] = "0">
    <sebm-google-map-marker *ngFor="let m of profesores"
            [latitude]="m.data.loc.lat"
            [longitude]="m.data.loc.lng">
    </sebm-google-map-marker>
  </sebm-google-map>
</div>
