<div>
  <div class="home jumbotron centered">
    <h1>Welcome to Perfill!</h1>
      <pre *ngIf="jwt" class="jwt"><code>{{decodedJwt.Edad}}</code></pre>
    <p><a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a></p>
    <button type="submit" (click)="getallprof()">Submit</button>
  </div>
  <input [(ngModel)]="address" >
  <button (click)="getcoors(address)" >Submit</button>
  <sebm-google-map *ngIf= "alumno.loc.lat" [latitude]="alumno.loc.lat" [longitude]="alumno.loc.lng"  [zoom] = "12">
    <sebm-google-map-marker
            [latitude]="alumno.loc.lat"
            [longitude]="alumno.loc.lng">
    </sebm-google-map-marker>
    <sebm-google-map-marker *ngFor="let m of profesores"
            [latitude]="m.data.loc.lat"
            [longitude]="m.data.loc.lng">
    </sebm-google-map-marker>
  </sebm-google-map>
  <form role="form">
    <div class="form-group">
      <label for="curso">Curso</label>
      <select class="form-control" [(ngModel)]="curso[p]" name="curso">
        <option *ngFor="let p of curso" [value]="p">{{p}}</option>
      </select>
    </div>
  </form>
  <button type="submit" (click)="getquery(query)">Submit</button>

</div>
