/* movil */
@media (max-width: 600px) {

}

/* ordenador */
@media (min-width: 600px) {

}

/* Comun */
.rounded-btn{
  -webkit-border-radius: 50px;
        border-radius: 50px;
  color: rgba(255,255,255,0.8);
  background: #2c3e50;
  border: 2px solid rgba(255,255,255,0.8);
  font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
}

.login-page {
	background: #2c3e50;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	color: #fff;
}

.text-center {
 text-align:center;
}
.text-right {
 text-align:right;
}

.text-left {
 text-align:left;
}

.description{
  border: 1px solid #ffffff;
  overflow: scroll;
}

.marco{
  padding:8px;
  background-color: #f5f5f5;
  border: 1px solid #999999;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  height: 150px;


}
