<div class="home">
    <div class="col-xs-4 col-lg-4">
      <button type="Submit" class="btn rounded-btn" (click)="logout()">Logout</button>
    </div>
    <div class="col-xs-4 col-lg-4 text-center">
      <img class="marco" [src]="imgsrc">
    </div>
    <div class="col-xs-4 col-lg-4 text-center">
      <h1> Actualiza tu imagen </h1>
      <input type="file" ng2FileSelect [uploader]="uploader" />

      <button type="button" class="btn btn-success btn-xs"
          (click)="sendimg()" >
      Upload your imgage
      </button>
    </div>

    <div class="col-xs-12 col-lg-12 text-center">
    <h1>{{decodedJwt.id.nombre}} {{decodedJwt.id.apellidos}}</h1>
      <h3 *ngIf="jwt" class="jwt">Email: {{decodedJwt.Email}}</h3>
      <h3 *ngIf="jwt" class="jwt">Edad: {{decodedJwt.id.edad}}</h3>
      <h3 *ngIf="jwt" class="jwt">Asignatura: {{decodedJwt.id.asignaturas}}</h3>
      <h3 *ngIf="jwt" class="jwt">Curso: {{decodedJwt.id.curso}}</h3>

    </div>

    <div class="col-xs-12 col-lg-12 text-center">
      <br>
      <ul *ngFor="let msg of conversation" >
          <li >
            <div >
                <span  class="userLabel" >{{msg.userName}}:</span>
                <span style="font-weight:bold">{{msg.text}}</span>
            </div>
          </li>
      </ul>
      <div>
        <input  type="text"
          [(ngModel)]="message"
          (keypress)="keypressHandler($event)">
      </div>
      <button (click)="send()"  type="submit"  name="action" >Send</button>
    </div>
  </div>
