    img{
      border:solid;
      width: 90px;
      height: 130px;
    }

    video{
      width: 400px;
    }

    #imagenes{ 
      width: 100px;
      float: left;
      margin:4px;
    }

    #videos{ 
      width: 405px;
      float: left;
      margin:4px;
    }

    #genero{
      clear: both;
    }

    #audio{ 
      width: 204px;
      float: left;
      margin:4px;
    }

    #canvasmusic{
      width: 200px;
      height: 170px;
    }
