/* movil */
@media (max-width: 600px) {

}

/* ordenador */
@media (min-width: 600px) {

}

/* Comun */
#solicitud{
  visibility: inherit;
}

#peticion{
  visibility: hidden;
}


.description{
  border: 1px solid #ffffff;
  overflow: scroll;
}

.text-right {
 text-align:right;
}

.marco{
  padding:8px;
  background-color: #f5f5f5;
  border: 1px solid #999999;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  height: 150px;


}

.login-page {
	background: #3ca2e0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	text-align: center;
	color: #fff;
	padding: 3em;
	}

.text-center {
 text-align:center;
}
.text-left {
 text-align:left;
}

label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.menu{
  font-size:30px;
  cursor:pointer;
}
