<div class="home" *ngIf="profesor">
  <div class="cabecera col-xs-12 col-lg-12">
    <div class="menu col-lg-2 col-xs-2" (click)="open=!open">&#9776;</div>
    <div *ngIf= "open" class="sidenav">
      <a class="closebtn" (click)="open=!open">&times;</a>
        <img src="../../assets/images/flat-avatar.png"/>
        <pre *ngIf="jwt" class="jwt"><code>{{decodedJwt.Email}}</code></pre>
        <pre *ngIf="jwt" class="jwt"><code>{{decodedJwt.id.nombre}}</code></pre>
        <pre *ngIf="jwt" class="jwt"><code>{{decodedJwt.id.apellidos}}</code></pre>
        <pre *ngIf="jwt" class="jwt"><code>{{decodedJwt.id.edad}}</code></pre>
        <button type="Submit" (click)="logout()">Logout</button>
    </div>
    <div class="menu col-lg-6 col-xs-12">
    <h1 >{{profesor.nombre}} {{profesor.apellidos}}</h1>
    <img class="col-xs-4 col-lg-4"[src]="imgsrc">
    <div class="col-xs-8 col-lg-8">
      <h3>Email: {{profesor.asignaturas}}</h3>
      <h3>Asignatura: {{profesor.curso}}</h3>
      <h3>Edad: {{profesor.edad}}</h3>
    </div>
    </div>
    <div *ngIf='!aceptado' class="menu col-lg-10 col-xs-10" >
      <button (click)="notification()"  type="submit"  name="action" >Enviarle una peticion de contacto</button>
    </div>
    <div *ngIf='aceptado' class="pie col-xs-12 col-lg-6">
      <ul *ngFor="let msg of conversation" style="margin:0">
          <li >
            <div >
                <span  class="userLabel" >{{msg.userName}}:</span>
                <span style="font-weight:bold">{{msg.text}}</span>
            </div>
          </li>
      </ul>
      <div>
        <input  type="text"
          [(ngModel)]="message"
          (keypress)="keypressHandler($event)">
      </div>
      <button (click)="send()"  type="submit"  name="action" >Send</button>
    </div>
  </div>



</div>
